.Explore {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    .Explore-Searchbar {
        text-align: center;
        input {
            width: 60%;
            text-align: center;
            margin: 10px;
            font-size: 5.5vw;
            padding: 12.5px 14px;
            border: 1px solid $secondaryColor;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
            box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
            background: transparent;
            color: $secondaryColor;
            ::placeholder {
                color: $secondaryColor;
            }
        }
    }
    .Explore-Title {
        width: 90%;
        text-align: center;
        border-bottom: 1px solid $secondaryColor;
        border-top: 1px solid $secondaryColor;
        -webkit-box-shadow: 0px 10px 15px -15px rgba(43, 194, 14, 1), 0px -10px 15px -15px rgba(43, 194, 14, 1);
        box-shadow: 0px 10px 15px -15px rgba(43, 194, 14, 1), 0px -10px 15px -15px rgba(43, 194, 14, 1);
        margin: 10px auto;

        h1 {
            font-size: 7vw;
            color: $secondaryColor;
            margin: 0 0 4px 0;
        }
    }
    .Explore-Body {
        text-align: center;
        color: $secondaryColor;
        width: 100%;
        margin-top: 10px;
        :hover {
            background-color: $alternateColor;
            cursor: pointer;
        }
        .Explore-Users {
            display: flex;
            flex-direction: row;
            justify-content: left;
            vertical-align: middle;
            .Explore-Images {
                width: 60px;
                height: 60px;
                object-fit: cover;
                margin: 10px;
                border-radius: 50%;
            }
            .Explore-Label {
                display: block;
                margin: auto 10px;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
