.footerWrapper {
  color: $alternateColor;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $primaryColor;
  height: 70px;
  z-index: 100;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  .icons {
      cursor: pointer;
      margin: 0;
      padding: 0 20px;
      color: #fff;
      filter: drop-shadow(0 0 10px $alternateColor);
  }
}
