.headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $primaryColor;
    // color: $alternateColor;
    width: 100%;
    height: 70px;
    // box-sizing: border-box;
    // overflow: hidden;
    // position: fixed;
    // top: 0;
    // z-index: 100;
    // text-align: center;
    // padding: 1rem 0 1rem 0;
    // h1 {
    //     font-size: 2rem;
    // }
    // .neon {
    //     margin: 0;
    //     padding: 0 20px;
    //     color: #fff;
    //     text-shadow: 0 0 20px $alternateColor;
    // }
}

.textLogo {
    height: 4vh;
}