.homeWrapper {
  margin-bottom: 90px;

  h1 {
    color: $alternateColor;
  }
}

.loading {
  color: $alternateColor;
  text-align: center;
}

.loaded {
  color: $alternateColor;
  text-align: center;
}

.modalWindow {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: $secondaryColor;
  box-shadow: 24;
  padding: 30px;
  overflow: scroll;
  height: 60%;
}

.modalLayout {
  display: flex;
  align-items: center;
  p {
    padding-left: 1rem;
  }
  padding: 0.5rem;
}
