.homeWrapper {
  margin-bottom: 90px;

  h1 {
    color: $alternateColor;
  }
}

.loading {
  color: $alternateColor;
  text-align: center;
}

.loaded {
  color: $alternateColor;
  text-align: center;
}
