.homeWrapper {
  margin-bottom: 90px;

  h1 {
    color: $alternateColor;
  }
}

.loading {
  color: $alternateColor;
  text-align: center;
}

.loaded {
  color: $alternateColor;
  text-align: center;
}

.modalWindow {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: $secondaryColor;
  box-shadow: 24;
  padding: 30px;
  overflow: scroll;
  height: 60%;
}

.modalLayout {
  display: flex;
  align-items: center;
  p {
    padding-left: 1rem;
  }
  padding: 0.5rem;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentsInput {
  text-align: center;
  input {
    width: 60%;
    margin: 5px;
    font-size: 2.5vw;
    padding: 10px;
    border: 1px solid $secondaryColor;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
    box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    ::placeholder {
      color: $secondaryColor;
    }
  }
}

.commentsButton {
  text-align: center;
  margin: 15px 0 15px 0;
  .MuiButton-root {
    background-color: $alternateColor;
  }
}

.cardWrapper {
  min-height: 450px;
}

.avatar {
  cursor: pointer;
}
