
.Login-Area {
    border: 2px solid $secondaryColor;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
    box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    color: $secondaryColor;
    .Login-title{
        text-align: center;
        margin: 15px 0;
    }
    .Login-form {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        vertical-align: middle;
        font-size: 5.5vw;
    }
    .Login-forgot{
        text-align: end;
        font-weight: bold;
        width: 85%;
        margin: 10px auto;
        a {
            color: $alternateColor;
        }
    }
    .Login-button{
        text-align: center;
        margin: 15px 0 15px 0;
        .MuiButton-root{
            background-color: $alternateColor;
        }
    }
    .Login-google {
        text-align: center;
        font-size: small;
        margin: 10px 0 10px 0;
    }
    .Login-register {
        text-align: center;
        margin: 10px 0;
        :last-child{
            font-weight: bold;
            color: $alternateColor;
        }
    }
    p{
        margin: 5px 0;
    }

    .MuiFormControl-root {
        .MuiInputLabel-root {
            color: $secondaryColor !important;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 1px solid $secondaryColor;
            -webkit-box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
            box-shadow: 0px 0px 15px -1px rgba(43, 194, 14, 0.5);
        }
        input {
            color: $secondaryColor !important;
        }

        .MuiFormHelperText-root{
            color: $secondaryColor;
        }
    }

    .MuiCheckbox-root {
        color: $secondaryColor !important;
    }

    .MuiSvgIcon-root {
        color: $secondaryColor;
    }
}

