.newPostWrapper {
  .icons {
    color: white;
  }
  .imgUpload {
    // background-color: white;
    width: 100vw;
    height: 30vh;
    display: grid;
    place-items: center;
  }
  #chooseFile {
    display: none;
  }
  #uploadIcon {
    width: 100px;
    height: 100px;
    color: white;
    filter: drop-shadow(0 0 10px $alternateColor);
  }
  #uploadIcon:hover {
    cursor: pointer;
  }
  .postContent {
    width: 80vw;
    border-radius: 12px;
    padding: 6%;
  }
}
