.profileWrapper {
  .icons {
    color: #fff;
    filter: drop-shadow(0 0 10px $alternateColor);
  }
  hr {
    color: rgb(155, 155, 155);
  }
  .postImages {
    overflow: hidden;
    outline: none;
    border: none;
  }
}
