@import "./base/color";
@import "./base/base";
@import "./components/Register";
@import "./components/Login";
@import "./components/Home";
@import "./components/HomeCard";
@import "./components/Header";
@import "./components/Footer";
@import "./components/Story";
@import "./components/Profile";
@import "./components/NewPost";
@import "./components/TitleBar";
@import "./components/EditProfile";
